# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pynb_checkpoints/

# Jupyter Notebooks
.ipynb_checkpoints

# VSCode
.vscode/

# Environments
.env
.venv/
venv/
ENV/

# Data folders
/data/bronze/
/data/silver/
/data/gold/

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
*.tmp

# Ignore local config
*.local
